<a href="https://colab.research.google.com/github/riya-29/DataAnalytics/blob/main/week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Insights - to gain an accurate and deep understanding of something 
# analytics - information resulting from the systematic analysis of data 
# analysis - detailed examination of something 
# analysis of past - how when why
# analytics for future - what will happen

# Descriptive Analytics - what happened?
# Diagnostic Analytics - why did it happen?
# Predictive Analytics - what will happen?
# Prescriptive Analytics - How can we make it happen?

# Levels of Data Measurement
# Nominal : lowest level of measurement - no ranking implied, ex- gender 
# Ordinal : ranking implied, ex- Student grades(A,B,C,D,F)
# Interval : ordered scale, diff b/w measurement don't have true zero point, ex- Temperature (in C or F) - 0 does't mean absense of temp.
# Ratio : Highest level of measurement, ordered scale, diff b/w measurement have true zero point, ex- age, salary

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('sample_data/california_housing_test.csv')

print(df.head(4))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0

In [6]:
print(df.count())
print(df.shape) # r x c

longitude             3000
latitude              3000
housing_median_age    3000
total_rooms           3000
total_bedrooms        3000
population            3000
households            3000
median_income         3000
median_house_value    3000
dtype: int64
(3000, 9)

In [8]:
print(df.columns)
print(df.dtypes)  # data type of each columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')
longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB
None

In [15]:
print(df['total_rooms'].head())
print(df['total_rooms'].tail())

0    3885.0
1    1510.0
2    3589.0
3      67.0
4    1241.0
Name: total_rooms, dtype: float64
2995    1450.0
2996    5257.0
2997     956.0
2998      96.0
2999    1765.0
Name: total_rooms, dtype: float64

In [16]:
print(df.loc[0])

longitude               -122.0500
latitude                  37.3700
housing_median_age        27.0000
total_rooms             3885.0000
total_bedrooms           661.0000
population              1537.0000
households               606.0000
median_income              6.6085
median_house_value    344700.0000
Name: 0, dtype: float64